body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:16px;
  width:1270px;
  height:464px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:464px;
}
#u1 {
  position:absolute;
  left:2px;
  top:224px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:258px;
  width:1186px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1169px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1186px;
  height:1px;
}
#u3 {
  position:absolute;
  left:229px;
  top:178px;
  width:57px;
  height:20px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:211px;
  top:228px;
  width:169px;
  height:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:452px;
  top:178px;
  width:57px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:440px;
  top:228px;
  width:138px;
  height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:20px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:661px;
  top:178px;
  width:29px;
  height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:661px;
  top:228px;
  width:43px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:100px;
  top:310px;
  width:1186px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:1169px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1186px;
  height:1px;
}
#u16 {
  position:absolute;
  left:211px;
  top:278px;
  width:169px;
  height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:440px;
  top:278px;
  width:138px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:20px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:661px;
  top:278px;
  width:43px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:100px;
  top:362px;
  width:1186px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:1169px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1186px;
  height:1px;
}
#u23 {
  position:absolute;
  left:211px;
  top:334px;
  width:169px;
  height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:440px;
  top:334px;
  width:138px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:661px;
  top:334px;
  width:43px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:100px;
  top:208px;
  width:1186px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:1169px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1186px;
  height:1px;
}
#u30 {
  position:absolute;
  left:110px;
  top:91px;
  width:29px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:160px;
  top:89px;
  width:160px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u33 {
  position:absolute;
  left:394px;
  top:91px;
  width:29px;
  height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:460px;
  top:89px;
  width:200px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36 {
  position:absolute;
  left:718px;
  top:89px;
  width:75px;
  height:25px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:137px;
  top:182px;
  width:16px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:136px;
  top:228px;
  width:17px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:136px;
  top:278px;
  width:17px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:136px;
  top:334px;
  width:17px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:829px;
  top:178px;
  width:57px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:819px;
  top:228px;
  width:99px;
  height:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:819px;
  top:278px;
  width:99px;
  height:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:819px;
  top:334px;
  width:99px;
  height:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:1159px;
  top:178px;
  width:57px;
  height:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:1166px;
  top:228px;
  width:43px;
  height:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:1166px;
  top:278px;
  width:43px;
  height:20px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:1166px;
  top:334px;
  width:43px;
  height:20px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:1169px;
  top:406px;
  width:9px;
  height:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:1196px;
  top:406px;
  width:9px;
  height:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:1222px;
  top:406px;
  width:9px;
  height:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:1242px;
  top:409px;
  width:14px;
  height:14px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u69 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:1146px;
  top:409px;
  width:14px;
  height:14px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u71 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:1256px;
  top:401px;
  width:30px;
  height:30px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u73 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:1116px;
  top:401px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u75 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:1011px;
  top:178px;
  width:57px;
  height:20px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:1018px;
  top:228px;
  width:43px;
  height:20px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:1018px;
  top:278px;
  width:43px;
  height:20px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:1018px;
  top:334px;
  width:43px;
  height:20px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
