body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2059px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:16px;
  width:1410px;
  height:534px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:534px;
}
#u1 {
  position:absolute;
  left:2px;
  top:259px;
  width:1406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:258px;
  width:1300px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1300px;
  height:1px;
}
#u3 {
  position:absolute;
  left:229px;
  top:178px;
  width:57px;
  height:20px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:211px;
  top:228px;
  width:169px;
  height:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:452px;
  top:178px;
  width:57px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:440px;
  top:228px;
  width:138px;
  height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:20px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:661px;
  top:178px;
  width:29px;
  height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:661px;
  top:228px;
  width:43px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:1331px;
  top:228px;
  width:29px;
  height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:100px;
  top:310px;
  width:1300px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:1283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1300px;
  height:1px;
}
#u18 {
  position:absolute;
  left:211px;
  top:278px;
  width:169px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:440px;
  top:278px;
  width:138px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:661px;
  top:278px;
  width:43px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:1331px;
  top:278px;
  width:29px;
  height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:100px;
  top:362px;
  width:1300px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:1283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1300px;
  height:1px;
}
#u27 {
  position:absolute;
  left:211px;
  top:334px;
  width:169px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:440px;
  top:334px;
  width:138px;
  height:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:661px;
  top:334px;
  width:43px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:1331px;
  top:334px;
  width:43px;
  height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:870px;
  top:89px;
  width:90px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:5px;
  width:86px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:100px;
  top:208px;
  width:1300px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:1283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1300px;
  height:1px;
}
#u38 {
  position:absolute;
  left:110px;
  top:91px;
  width:29px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:160px;
  top:89px;
  width:160px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u41 {
  position:absolute;
  left:394px;
  top:91px;
  width:29px;
  height:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:460px;
  top:89px;
  width:200px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44 {
  position:absolute;
  left:718px;
  top:89px;
  width:75px;
  height:25px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:137px;
  top:182px;
  width:16px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:136px;
  top:228px;
  width:17px;
  height:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:136px;
  top:278px;
  width:17px;
  height:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:136px;
  top:334px;
  width:17px;
  height:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:829px;
  top:178px;
  width:57px;
  height:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:819px;
  top:228px;
  width:99px;
  height:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:819px;
  top:278px;
  width:99px;
  height:20px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:819px;
  top:334px;
  width:99px;
  height:20px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:1159px;
  top:178px;
  width:57px;
  height:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:1166px;
  top:228px;
  width:43px;
  height:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:1166px;
  top:278px;
  width:43px;
  height:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:1166px;
  top:334px;
  width:43px;
  height:20px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:100px;
  top:414px;
  width:1300px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:1283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1300px;
  height:1px;
}
#u71 {
  position:absolute;
  left:211px;
  top:384px;
  width:169px;
  height:20px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:440px;
  top:384px;
  width:138px;
  height:20px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:20px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:661px;
  top:384px;
  width:43px;
  height:20px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:1331px;
  top:384px;
  width:29px;
  height:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:136px;
  top:384px;
  width:17px;
  height:20px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:819px;
  top:384px;
  width:99px;
  height:20px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:1166px;
  top:384px;
  width:43px;
  height:20px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:1273px;
  top:450px;
  width:9px;
  height:20px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:1300px;
  top:450px;
  width:9px;
  height:20px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:1326px;
  top:450px;
  width:9px;
  height:20px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:1346px;
  top:453px;
  width:14px;
  height:14px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u92 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:1250px;
  top:453px;
  width:14px;
  height:14px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u94 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:1360px;
  top:445px;
  width:30px;
  height:30px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:1220px;
  top:445px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:136px;
  top:414px;
  width:10px;
  height:326px;
}
#u99_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u99_end {
  position:absolute;
  left:-5px;
  top:309px;
  width:20px;
  height:18px;
}
#u99_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:326px;
}
#u100 {
  position:absolute;
  left:119px;
  top:755px;
  width:44px;
  height:20px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:300px;
  top:414px;
  width:10px;
  height:326px;
}
#u102_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u102_end {
  position:absolute;
  left:-5px;
  top:309px;
  width:20px;
  height:18px;
}
#u102_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:326px;
}
#u103 {
  position:absolute;
  left:208px;
  top:755px;
  width:194px;
  height:20px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:20px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:511px;
  top:414px;
  width:10px;
  height:326px;
}
#u105_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u105_end {
  position:absolute;
  left:-5px;
  top:309px;
  width:20px;
  height:18px;
}
#u105_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:326px;
}
#u106 {
  position:absolute;
  left:473px;
  top:755px;
  width:85px;
  height:20px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:686px;
  top:414px;
  width:10px;
  height:326px;
}
#u108_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u108_end {
  position:absolute;
  left:-5px;
  top:309px;
  width:20px;
  height:18px;
}
#u108_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:326px;
}
#u109 {
  position:absolute;
  left:663px;
  top:755px;
  width:57px;
  height:20px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:863px;
  top:414px;
  width:10px;
  height:326px;
}
#u111_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u111_end {
  position:absolute;
  left:-5px;
  top:309px;
  width:20px;
  height:18px;
}
#u111_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:326px;
}
#u112 {
  position:absolute;
  left:840px;
  top:755px;
  width:57px;
  height:20px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:1196px;
  top:414px;
  width:10px;
  height:326px;
}
#u114_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u114_end {
  position:absolute;
  left:-5px;
  top:309px;
  width:20px;
  height:18px;
}
#u114_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:326px;
}
#u115 {
  position:absolute;
  left:1173px;
  top:755px;
  width:57px;
  height:20px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:1175px;
  top:800px;
  width:129px;
  height:20px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:1175px;
  top:838px;
  width:185px;
  height:20px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:20px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:1175px;
  top:875px;
  width:185px;
  height:20px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:20px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:1175px;
  top:912px;
  width:185px;
  height:20px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:20px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:1175px;
  top:950px;
  width:185px;
  height:20px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:20px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:1011px;
  top:178px;
  width:57px;
  height:20px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:1018px;
  top:228px;
  width:43px;
  height:20px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:1018px;
  top:278px;
  width:43px;
  height:20px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:1018px;
  top:334px;
  width:43px;
  height:20px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:1018px;
  top:384px;
  width:29px;
  height:20px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:1331px;
  top:178px;
  width:29px;
  height:20px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:1027px;
  top:414px;
  width:10px;
  height:326px;
}
#u139_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u139_end {
  position:absolute;
  left:-5px;
  top:309px;
  width:20px;
  height:18px;
}
#u139_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:326px;
}
#u140 {
  position:absolute;
  left:1004px;
  top:755px;
  width:57px;
  height:20px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:1470px;
  top:580px;
  width:589px;
  height:20px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:20px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:1490px;
  top:626px;
  width:320px;
  height:166px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:166px;
}
#u145 {
  position:absolute;
  left:2px;
  top:75px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:1520px;
  top:658px;
  width:250px;
  height:40px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:1524px;
  top:723px;
  width:96px;
  height:37px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:37px;
}
#u149 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:1684px;
  top:723px;
  width:96px;
  height:37px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:37px;
}
#u151 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:370px;
  top:233px;
  width:1180px;
  height:10px;
}
#u152_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u152_end {
  position:absolute;
  left:1163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u152_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1180px;
  height:1px;
}
#u153 {
  position:absolute;
  left:1560px;
  top:228px;
  width:225px;
  height:20px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:20px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u155 {
  position:absolute;
  left:370px;
  top:283px;
  width:1180px;
  height:10px;
}
#u155_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u155_end {
  position:absolute;
  left:1163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u155_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1180px;
  height:1px;
}
#u156 {
  position:absolute;
  left:1560px;
  top:278px;
  width:239px;
  height:20px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:20px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:370px;
  top:339px;
  width:1180px;
  height:10px;
}
#u158_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u158_end {
  position:absolute;
  left:1163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u158_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1180px;
  height:1px;
}
#u159 {
  position:absolute;
  left:1560px;
  top:334px;
  width:225px;
  height:20px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:20px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u161 {
  position:absolute;
  left:370px;
  top:389px;
  width:1180px;
  height:10px;
}
#u161_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u161_end {
  position:absolute;
  left:1163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u161_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1180px;
  height:1px;
}
#u162 {
  position:absolute;
  left:1560px;
  top:384px;
  width:183px;
  height:20px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
