body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:90px;
  top:20px;
  width:320px;
  height:1130px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1130px;
}
#u1 {
  position:absolute;
  left:2px;
  top:557px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:90px;
  top:20px;
  width:320px;
  height:40px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:143px;
  width:300px;
  height:116px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:116px;
}
#u5 {
  position:absolute;
  left:2px;
  top:50px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:110px;
  top:152px;
  width:45px;
  height:20px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:100px;
  top:101px;
  width:32px;
  height:32px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:142px;
  top:101px;
  width:25px;
  height:17px;
  font-size:12px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:100px;
  top:233px;
  width:300px;
  height:26px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
}
#u13 {
  position:absolute;
  left:2px;
  top:3px;
  width:296px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:100px;
  top:551px;
  width:300px;
  height:116px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:116px;
}
#u15 {
  position:absolute;
  left:2px;
  top:50px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:100px;
  top:641px;
  width:300px;
  height:26px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
}
#u17 {
  position:absolute;
  left:2px;
  top:3px;
  width:296px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:100px;
  top:797px;
  width:300px;
  height:116px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:116px;
}
#u19 {
  position:absolute;
  left:2px;
  top:50px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:110px;
  top:806px;
  width:30px;
  height:20px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:100px;
  top:887px;
  width:300px;
  height:26px;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
}
#u23 {
  position:absolute;
  left:2px;
  top:3px;
  width:296px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:328px;
  top:806px;
  width:65px;
  height:16px;
  font-size:11px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:110px;
  top:558px;
  width:40px;
  height:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u27 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:124px;
  top:680px;
  width:149px;
  height:17px;
  font-size:12px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:17px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:90px;
  top:701px;
  width:320px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u31 {
  position:absolute;
  left:100px;
  top:680px;
  width:17px;
  height:17px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u32 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:142px;
  top:121px;
  width:101px;
  height:16px;
  font-size:10px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:90px;
  top:449px;
  width:320px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u36 {
  position:absolute;
  left:100px;
  top:507px;
  width:32px;
  height:32px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:142px;
  top:507px;
  width:25px;
  height:17px;
  font-size:12px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:142px;
  top:527px;
  width:101px;
  height:16px;
  font-size:10px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:177px;
  top:101px;
  width:41px;
  height:16px;
  font-size:10px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:177px;
  top:508px;
  width:41px;
  height:16px;
  font-size:10px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:328px;
  top:152px;
  width:65px;
  height:16px;
  font-size:11px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:100px;
  top:751px;
  width:32px;
  height:32px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u49 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:142px;
  top:751px;
  width:25px;
  height:17px;
  font-size:12px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:142px;
  top:771px;
  width:101px;
  height:16px;
  font-size:10px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:177px;
  top:752px;
  width:41px;
  height:16px;
  font-size:10px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:100px;
  top:101px;
  width:300px;
  height:158px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u57 {
  position:absolute;
  left:100px;
  top:507px;
  width:300px;
  height:160px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u58 {
  position:absolute;
  left:222px;
  top:470px;
  width:57px;
  height:20px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:222px;
  top:716px;
  width:57px;
  height:20px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:222px;
  top:70px;
  width:57px;
  height:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:100px;
  top:984px;
  width:300px;
  height:116px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:116px;
}
#u65 {
  position:absolute;
  left:2px;
  top:50px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:110px;
  top:993px;
  width:30px;
  height:20px;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:100px;
  top:1074px;
  width:300px;
  height:26px;
  text-align:left;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
}
#u69 {
  position:absolute;
  left:2px;
  top:3px;
  width:296px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:328px;
  top:993px;
  width:65px;
  height:16px;
  font-size:11px;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:100px;
  top:938px;
  width:32px;
  height:32px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u73 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:142px;
  top:938px;
  width:25px;
  height:17px;
  font-size:12px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:142px;
  top:958px;
  width:101px;
  height:16px;
  font-size:10px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:177px;
  top:939px;
  width:41px;
  height:16px;
  font-size:10px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:98px;
  top:922px;
  width:302px;
  height:10px;
}
#u80_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u81 {
  position:absolute;
  left:100px;
  top:324px;
  width:300px;
  height:116px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:116px;
}
#u82 {
  position:absolute;
  left:2px;
  top:50px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:110px;
  top:332px;
  width:45px;
  height:20px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:100px;
  top:282px;
  width:32px;
  height:32px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u86 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:142px;
  top:282px;
  width:25px;
  height:17px;
  font-size:12px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:100px;
  top:414px;
  width:300px;
  height:26px;
  text-align:left;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
}
#u90 {
  position:absolute;
  left:2px;
  top:3px;
  width:296px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:142px;
  top:302px;
  width:101px;
  height:16px;
  font-size:10px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:177px;
  top:282px;
  width:41px;
  height:16px;
  font-size:10px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:328px;
  top:332px;
  width:65px;
  height:16px;
  font-size:11px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:100px;
  top:265px;
  width:293px;
  height:10px;
}
#u97_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_end {
  position:absolute;
  left:276px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_line {
  position:absolute;
  left:0px;
  top:5px;
  width:293px;
  height:1px;
}
#u98 {
  position:absolute;
  left:293px;
  top:73px;
  width:251px;
  height:10px;
}
#u98_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_end {
  position:absolute;
  left:234px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_line {
  position:absolute;
  left:0px;
  top:5px;
  width:251px;
  height:1px;
}
#u99 {
  position:absolute;
  left:554px;
  top:69px;
  width:85px;
  height:20px;
  color:#006699;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:136px;
  top:106px;
  width:408px;
  height:10px;
}
#u101_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_end {
  position:absolute;
  left:391px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_line {
  position:absolute;
  left:0px;
  top:5px;
  width:408px;
  height:1px;
}
#u102 {
  position:absolute;
  left:554px;
  top:102px;
  width:127px;
  height:20px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:374px;
  top:190px;
  width:170px;
  height:10px;
}
#u104_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u104_end {
  position:absolute;
  left:153px;
  top:-5px;
  width:18px;
  height:20px;
}
#u104_line {
  position:absolute;
  left:0px;
  top:5px;
  width:170px;
  height:1px;
}
#u105 {
  position:absolute;
  left:554px;
  top:186px;
  width:295px;
  height:20px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:20px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:279px;
  top:473px;
  width:261px;
  height:10px;
}
#u107_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_end {
  position:absolute;
  left:244px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_line {
  position:absolute;
  left:0px;
  top:5px;
  width:261px;
  height:1px;
}
#u108 {
  position:absolute;
  left:550px;
  top:469px;
  width:85px;
  height:20px;
  color:#006699;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:132px;
  top:517px;
  width:408px;
  height:10px;
}
#u110_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_end {
  position:absolute;
  left:391px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_line {
  position:absolute;
  left:0px;
  top:5px;
  width:408px;
  height:1px;
}
#u111 {
  position:absolute;
  left:550px;
  top:513px;
  width:127px;
  height:20px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:370px;
  top:585px;
  width:170px;
  height:10px;
}
#u113_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u113_end {
  position:absolute;
  left:153px;
  top:-5px;
  width:18px;
  height:20px;
}
#u113_line {
  position:absolute;
  left:0px;
  top:5px;
  width:170px;
  height:1px;
}
#u114 {
  position:absolute;
  left:550px;
  top:581px;
  width:267px;
  height:20px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:20px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:273px;
  top:684px;
  width:267px;
  height:10px;
}
#u116_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u116_end {
  position:absolute;
  left:250px;
  top:-5px;
  width:18px;
  height:20px;
}
#u116_line {
  position:absolute;
  left:0px;
  top:5px;
  width:267px;
  height:1px;
}
#u117 {
  position:absolute;
  left:550px;
  top:680px;
  width:85px;
  height:20px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:279px;
  top:725px;
  width:261px;
  height:10px;
}
#u119_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_end {
  position:absolute;
  left:244px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_line {
  position:absolute;
  left:0px;
  top:5px;
  width:261px;
  height:1px;
}
#u120 {
  position:absolute;
  left:550px;
  top:721px;
  width:85px;
  height:20px;
  color:#006699;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:132px;
  top:761px;
  width:408px;
  height:10px;
}
#u122_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_end {
  position:absolute;
  left:391px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_line {
  position:absolute;
  left:0px;
  top:5px;
  width:408px;
  height:1px;
}
#u123 {
  position:absolute;
  left:550px;
  top:757px;
  width:127px;
  height:20px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:370px;
  top:849px;
  width:170px;
  height:10px;
}
#u125_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u125_end {
  position:absolute;
  left:153px;
  top:-5px;
  width:18px;
  height:20px;
}
#u125_line {
  position:absolute;
  left:0px;
  top:5px;
  width:170px;
  height:1px;
}
#u126 {
  position:absolute;
  left:550px;
  top:845px;
  width:351px;
  height:20px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:20px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:554px;
  top:266px;
  width:99px;
  height:20px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:374px;
  top:238px;
  width:170px;
  height:10px;
}
#u130_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u130_end {
  position:absolute;
  left:153px;
  top:-5px;
  width:18px;
  height:20px;
}
#u130_line {
  position:absolute;
  left:0px;
  top:5px;
  width:170px;
  height:1px;
}
#u131 {
  position:absolute;
  left:554px;
  top:234px;
  width:192px;
  height:20px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:20px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:900px;
  top:69px;
  width:283px;
  height:40px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:40px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:900px;
  top:135px;
  width:283px;
  height:100px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:100px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:386px;
  top:36px;
  width:14px;
  height:14px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u138 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:100px;
  top:34px;
  width:12px;
  height:12px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u140 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:870px;
  top:59px;
  width:330px;
  height:200px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:200px;
}
#u142 {
  position:absolute;
  left:2px;
  top:92px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:228px;
  top:282px;
  width:31px;
  height:16px;
  font-size:10px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:228px;
  top:101px;
  width:31px;
  height:16px;
  font-size:10px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u147 {
  position:absolute;
  left:228px;
  top:508px;
  width:31px;
  height:16px;
  font-size:10px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u149 {
  position:absolute;
  left:228px;
  top:752px;
  width:31px;
  height:16px;
  font-size:10px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:228px;
  top:939px;
  width:31px;
  height:16px;
  font-size:10px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
