body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:0px;
  width:320px;
  height:550px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:550px;
}
#u1 {
  position:absolute;
  left:2px;
  top:267px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:0px;
  width:320px;
  height:40px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:111px;
  top:101px;
  width:169px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:100px;
  top:151px;
  width:320px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u7 {
  position:absolute;
  left:111px;
  top:126px;
  width:40px;
  height:19px;
  font-size:13px;
  color:#999999;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:367px;
  top:101px;
  width:43px;
  height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:111px;
  top:170px;
  width:169px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:100px;
  top:211px;
  width:320px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u14 {
  position:absolute;
  left:367px;
  top:170px;
  width:43px;
  height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:111px;
  top:194px;
  width:40px;
  height:19px;
  font-size:13px;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:302px;
  top:194px;
  width:108px;
  height:19px;
  font-size:13px;
  color:#999999;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:111px;
  top:231px;
  width:169px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:100px;
  top:280px;
  width:320px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u23 {
  position:absolute;
  left:111px;
  top:256px;
  width:40px;
  height:19px;
  font-size:13px;
  color:#999999;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:367px;
  top:231px;
  width:43px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:111px;
  top:300px;
  width:169px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:100px;
  top:341px;
  width:320px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u30 {
  position:absolute;
  left:367px;
  top:300px;
  width:43px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:111px;
  top:324px;
  width:40px;
  height:19px;
  font-size:13px;
  color:#999999;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:383px;
  top:12px;
  width:29px;
  height:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:302px;
  top:256px;
  width:108px;
  height:19px;
  font-size:13px;
  color:#999999;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:302px;
  top:324px;
  width:108px;
  height:19px;
  font-size:13px;
  color:#999999;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:302px;
  top:126px;
  width:108px;
  height:19px;
  font-size:13px;
  color:#999999;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:100px;
  top:87px;
  width:320px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u43 {
  position:absolute;
  left:430px;
  top:134px;
  width:200px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u44 {
  position:absolute;
  left:635px;
  top:129px;
  width:37px;
  height:20px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:682px;
  top:128px;
  width:198px;
  height:40px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:635px;
  top:189px;
  width:37px;
  height:20px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u49 {
  position:absolute;
  left:2px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:682px;
  top:188px;
  width:198px;
  height:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:20px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:430px;
  top:17px;
  width:200px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u53 {
  position:absolute;
  left:635px;
  top:10px;
  width:37px;
  height:20px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:682px;
  top:10px;
  width:198px;
  height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:20px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:111px;
  top:50px;
  width:289px;
  height:27px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:27px;
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:116px;
  top:51px;
  width:230px;
  height:25px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u60 {
  position:absolute;
  left:370px;
  top:52px;
  width:22px;
  height:22px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u61 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:920px;
  top:0px;
  width:320px;
  height:550px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:550px;
}
#u63 {
  position:absolute;
  left:2px;
  top:267px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:920px;
  top:0px;
  width:320px;
  height:40px;
  font-size:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u65 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:954px;
  top:6px;
  width:236px;
  height:27px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:27px;
}
#u67 {
  position:absolute;
  left:2px;
  top:6px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:960px;
  top:7px;
  width:216px;
  height:25px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u69 {
  position:absolute;
  left:1158px;
  top:8px;
  width:22px;
  height:22px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u70 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:929px;
  top:13px;
  width:14px;
  height:14px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u72 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1201px;
  top:8px;
  width:29px;
  height:20px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:937px;
  top:152px;
  width:43px;
  height:20px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:937px;
  top:81px;
  width:29px;
  height:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:937px;
  top:132px;
  width:293px;
  height:10px;
}
#u79_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_end {
  position:absolute;
  left:276px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_line {
  position:absolute;
  left:0px;
  top:5px;
  width:293px;
  height:1px;
}
#u80 {
  position:absolute;
  left:947px;
  top:220px;
  width:113px;
  height:10px;
}
#u80_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_end {
  position:absolute;
  left:96px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_line {
  position:absolute;
  left:0px;
  top:5px;
  width:113px;
  height:1px;
}
#u81 {
  position:absolute;
  left:1065px;
  top:199px;
  width:30px;
  height:10px;
}
#u81_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  height:1px;
}
#u82 {
  position:absolute;
  left:1100px;
  top:220px;
  width:113px;
  height:10px;
}
#u82_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_end {
  position:absolute;
  left:96px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_line {
  position:absolute;
  left:0px;
  top:5px;
  width:113px;
  height:1px;
}
#u83 {
  position:absolute;
  left:1020px;
  top:300px;
  width:126px;
  height:30px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:5px;
  width:122px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:635px;
  top:257px;
  width:37px;
  height:20px;
  color:#FFFFFF;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u86 {
  position:absolute;
  left:2px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:682px;
  top:256px;
  width:198px;
  height:20px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:20px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
