body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:0px;
  width:320px;
  height:1240px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1240px;
}
#u1 {
  position:absolute;
  left:2px;
  top:612px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:0px;
  width:320px;
  height:40px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:126px;
  top:94px;
  width:29px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:126px;
  top:120px;
  width:264px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:126px;
  top:165px;
  width:29px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:126px;
  top:195px;
  width:264px;
  height:82px;
  font-size:48px;
  color:#999999;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:82px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:260px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:126px;
  top:60px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:126px;
  top:361px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:126px;
  top:495px;
  width:29px;
  height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:126px;
  top:521px;
  width:264px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:126px;
  top:561px;
  width:63px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:126px;
  top:587px;
  width:264px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:126px;
  top:628px;
  width:29px;
  height:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:126px;
  top:654px;
  width:264px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24 {
  position:absolute;
  left:126px;
  top:765px;
  width:57px;
  height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:126px;
  top:715px;
  width:264px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27 {
  position:absolute;
  left:126px;
  top:797px;
  width:264px;
  height:87px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:87px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28 {
  position:absolute;
  left:126px;
  top:689px;
  width:63px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:126px;
  top:431px;
  width:43px;
  height:42px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
}
#u31 {
  position:absolute;
  left:2px;
  top:13px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:126px;
  top:921px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:126px;
  top:963px;
  width:57px;
  height:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:138px;
  top:1170px;
  width:97px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:5px;
  width:93px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:282px;
  top:1170px;
  width:97px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:5px;
  width:93px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:126px;
  top:401px;
  width:29px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:126px;
  top:292px;
  width:57px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:303px;
  top:150px;
  width:87px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:17px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:133px;
  top:442px;
  width:29px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:296px;
  top:894px;
  width:94px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:296px;
  top:1105px;
  width:94px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:126px;
  top:993px;
  width:264px;
  height:100px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:100px;
}
#u53 {
  position:absolute;
  left:2px;
  top:42px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:129px;
  top:995px;
  width:256px;
  height:93px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:93px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u55 {
  position:absolute;
  left:105px;
  top:12px;
  width:15px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u56 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:126px;
  top:322px;
  width:264px;
  height:29px;
  font-size:48px;
  color:#999999;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:29px;
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
